{% extends "base.html" %}
{% block content %}

<div class="container overflow-hidden p-3 page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Your Bookmarked Recipes</h3>
                        <div class="justify-content-center mt-3">
                        <form method="POST" action="/new-recipe">
                           <input type="submit" value="Submit New Recipe" class="mt-2  mb-3 btn btn-primary">
                        </form>
                    </div>
                    <div>
                        <form class="input-group" method="get" action="/bookmarked-recipes">
                          <div class="input-group mb-3">
                              <input type="hidden" name="sort" value="{{  sort_order }}">
                              <input type="text" name="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                {% if search_query != "" %}
                                    <form method="get" action="/bookmarked-recipes">
                                        <input type="hidden" name="sort" value="{{  sort_order }}">
                                        <button class="btn btn-outline-danger" type="submit" value="Clear Search">Clear Search</button>
                                    </form>
                                {% endif %}
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                              </div>
                              <div class="dropdown">
                                  <button class="btn dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort By
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="newbtn dropdown-item" href="/bookmarked-recipes?sort=new{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Newest</a>
                                    <a class="oldbtn dropdown-item"  href="/bookmarked-recipes?sort=old{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Oldest</a>
                                    <a class="highest-ratingbtn dropdown-item" href="/bookmarked-recipes?sort=highest-rating{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Highest rating</a>
                                    <a class="lowest-ratingbtn dropdown-item"  href="/bookmarked-recipes?sort=lowest-rating{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Lowest rating</a>
                                    <a class="title-azbtn dropdown-item" href="/bookmarked-recipes?sort=title-az{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Alphabetical (A -> Z)</a>
                                    <a class="title-zabt dropdown-item"  href="/bookmarked-recipes?sort=title-za{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Alphabetical (Z -> A))</a>
                                    <a class="quickestbtn dropdown-item"  href="/bookmarked-recipes?sort=quickest{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Quickest preparation time</a>
                                    <a class="longestbtn dropdown-item"  href="/bookmarked-recipes?sort=longest{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Longest preparation time</a>
                                    <a class="least-caloriesbtn dropdown-item" href="/bookmarked-recipes?sort=least-calories{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Least calories per serving</a>
                                    <a class="most-caloriesbtn dropdown-item"  href="/bookmarked-recipes?sort=most-calories{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Most calories per serving</a>
                                    <a class="least-servingsbtn dropdown-item"  href="/bookmarked-recipes?sort=least-servings{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Least servings</a>
                                    <a class="most-servingsbtn dropdown-item"  href="/bookmarked-recipes?sort=most-servings{{ '&page=' + page | string if page > 1 }}{{ '&search=' + search_query if search_query != "" }}">Most servings</a>
                                  </div>
                            </div>

                    </div>



                    </div>


                    </div>
                    <div class="card-body ml-1">
                        {% if search_query != "" %}
                            <h3 class="card-text">Displaying results for "{{ search_query }}"</h3>
                        {% endif %}
                        {% if sort_order != "new" %}
                            <h3 class="card-text">{{ sort_message }}</h3>
                        {% endif %}
                        <br>
                        <p class="card-text"><b>Page {{ page }} of {{ total_pages }} ({{ recipes_per_page }} recipes per page)</b></p>
                        <div>
                            <hr>
                             {% for recipe in recipes_list %}
                                <h1><a href="/bookmarked-recipes?id={{ recipe["id"] }}"> <b>"{{ recipe["title"] }}"</b></a> {{ '[NEW]' if recipe['id'] == newest_recipe_id }}</h1>
                                <h4>Servings: {{ recipe["servings"] }} - Calories: {{ recipe["calories_per_serving"] }} - Prep Time: {{ recipe["preparation_time"] }} - Rating: {{  display_rating(recipe["id"]) }}</h4>
                                <form method="get" action="/bookmark">
                                    <input type="hidden" name="id" value="{{ recipe["id"] }}">
                                    <input type="submit" class="btn btn-secondary" value="Unbookmark">
                                </form>
                                <hr>
                            {% endfor %}
                        </div>
                        {% if page > 1 %}
                            <a href="/bookmarked-recipes?page={{ page - 1}}{{ "&search="+search_query if search_query != "" }}{{ "&sort="+sort_order if sort_order != "new" }}" style="float: left">< Previous Page ({{page - 1}})</a>
                        {% endif %}
                        {% if page < total_pages %}
                            <a href="/bookmarked-recipes?page={{ page + 1}}{{ "&search="+search_query if search_query != "" }}{{ "&sort="+sort_order if sort_order != "new" }}" style="float: right">Next Page ({{page + 1}}) ></a>
                        {% endif %}
                    </div>
                </div>
              </div>
            </div>
        </div>
    <div>
{% endblock %}