<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>500 4health</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        background-color: #4A7AC1; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #0E2950, #4A7AC1);
        color: white;
    }

    footer {
      width: 35em;
      position: absolute;
      bottom: 0;
      height: 2.5rem;
    }

    h1 {
        font-size:  10vh;
    }

    a {
        color:  white ;

    }
</style>

</head>
<body>
<h1>500</h1>
<p>Oops! That's embarrassing - Internal Server Error.</p>
<br>
<p>Please go back to the homepage</p>